.list {
  list-style: none;
  text-align: left;
}

.list > li {
  border-top: 1px solid var(--background-2);
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.itemTitle {
  margin: 0;
}

.subtitle {
  color: var(--text-2)
}