:root {
  --text: rgba(255, 255, 255, 0.87);
  --background-1: #242424;
  --background-2: #1a1a1a;
  --highlight-1: #cccccc;
  --blue: #646cff;
  --blue-hover: #535bf2;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--blue);
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--blue-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  box-sizing: border-box;
  border: 1px solid var(--highlight-1);
  border-radius: 0;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: lowercase;
  background-color: var(--background-2);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--blue-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border: 1px solid var(--highlight-1);
  height: 2rem;
  padding-left: 0.5rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #213547;
    --background-1:#ffffff;
    --background-2:#f9f9f9;
    --blue: #646cff;
    --blue-hover: #1f1f2a;
    --hightlight-1: #cccccc;
  }
}
